<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-34 p-t-27">
						Solar Radiation Prediction
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Temperature is required">
						<input class="input100" type="text" name="name" placeholder="Enter Temperature">
						<span class="focus-input100" ></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Pressure is required">
						<input class="input100" type="text" name="name" placeholder="Enter Pressure">
						<span class="focus-input100" ></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Humidity is required">
						<input class="input100" type="text" name="name" placeholder="Enter Humidity">
						<span class="focus-input100" ></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="WindDirection(Degrees) is required">
						<input class="input100" type="text" name="name" placeholder="Enter WindDirection(Degrees)">
						<span class="focus-input100" ></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Speed is required">
						<input class="input100" type="text" name="name" placeholder="Enter Speed">
						<span class="focus-input100" ></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Year is required">
						<input class="input100" type="text" name="name" placeholder="Enter Year">
						<span class="focus-input100" ></span>
					</div>

					<div class="wrap-input100 input100-select">
					<span class="label-input100">Month</span>
					<div>
						<select class="selection-2" name="service">
							<option>January</option>
							<option>February</option>
							<option>March</option>
							<option>April</option>
							<option>May</option>
							<option>June</option>
							<option>July</option>
							<option>August</option>
							<option>September</option>
							<option>October</option>
							<option>November</option>
							<option>December</option>
						</select>
					</div>
					<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 input100-select">
					<span class="label-input100">Day</span>
					<div>
						<select class="selection-2" name="service">
							<option>Monday</option>
							<option>Tuesday</option>
							<option>Wednesday</option>
							<option>Thursday</option>
							<option>Friday</option>
							<option>Saturday</option>
							<option>Sunday</option>
						</select>
					</div>
					<span class="focus-input100"></span>
				    </div>

					<div class="wrap-input100 validate-input" data-validate = "Hour_TimeSunRise is required">
						<input class="input100" type="text" name="name" placeholder="Enter Hour_TimeSunRise">
						<span class="focus-input100" ></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Minute_TimeSunRise is required">
						<input class="input100" type="text" name="name" placeholder="Enter Minute_TimeSunRise">
						<span class="focus-input100" ></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Hour_TimeSunSet is required">
						<input class="input100" type="text" name="name" placeholder="Enter Hour_TimeSunSet">
						<span class="focus-input100" ></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Minute_TimeSunSet is required">
						<input class="input100" type="text" name="name" placeholder="Enter Minute_TimeSunSet">
						<span class="focus-input100"  ></span>
					</div>

					<div class="wrap-input100 input100-select">
					<span class="label-input100">Season</span>
					<div>
						<select class="selection-2" name="service">
							<option>Winter</option>
							<option>Spring</option>
							<option>Summer</option>
							<option>Autumn</option>
						</select>
					</div>
					<span class="focus-input100"></span>
					</div>


					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Predict The Radiation
						</button>
					</div>

					<div class="text-center p-t-90">
						<a class="txt1" href="#">
							<font size=6>The Radiation Is:</font>							
						</a>
					</div>

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>